    html,body{
    	height:100%;
    }
    *{
		padding: 0;
		margin: 0;
	}
	input{
		width: 175px;
	}
	body{
		background: #006699;
	}
	.lab{
		float: left;
		width: 75px;
		text-align: right;
	}
	.val{
		float: left;
		width: 180px;
	}
	.clear{ 
		clear:both;
	} 
	.form{
		margin-top: 10px;
	}
	.main{
		height: 80%;
	}
	.content{
		width: 300px;
		margin: 0 auto;
	}
	.button{
		margin-left: 95px;
	}
	.footer{
		height: 10%;
		background: #666666;
	}
	.header 
	{
		height: 10%;
		background: #666666;
	}
	.hig{
     height: 30%;
	}
	.copyright{
		text-align: center;
		padding-top:15px;
		color:#FFFFFF;
	}
	.headercontent{
        padding-top: 1%;
        font-size: 22px;
        color: #FFFFFF;
        font-weight: bold;
        text-align: left;
        padding-left: 25px;
	}
	.icon
	{
		float: left;
	}